{% load static %}
{% load bootstrap_icons %}
{% load bs_icons %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap_icons/css/bootstrap_icons.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto	" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'res/icons/greenFinal.ico' %}"/>
	<script src="https://kit.fontawesome.com/2e0bb49b5b.js" crossorigin="anonymous"></script> <!--fa -->
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>


    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
	
    <!-- <link rel="import" href="blog/nav.html"> -->
    
	{% if title %}
		<title>Lubotics - {{ title }}</title>
	{% else %}
		<title>Lubotics</title>
	{% endif %}

</head>
<body>

	<!-- Navigation Bar -->
	<div id="nav-template">
	{% include "blog/nav.html" %}
	</div>

    <!-- Lubotics banner block for home -->

    <!-- Main block of other pages -->
	<!-- <main role="main" class="container">

	</main> -->
	{% block content %}
	{% endblock content %}
	<!-- <div id="nav-footer"></div>
		<script src="/js/script.js"></script> -->
	{% include "blog/footer.html" %}
		
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>