{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}

{% block content %}
    <div class="cart container">
        <h2 class="cart__header">My Cart</h2>
        

        <div class="row cart__select">
            <div class="col-6">
                <input id="selector" class="main-checkbox" type="checkbox" onClick="toggleSelection(this)" aria-label=""> 
                <label> Select all</label> 
            </div>
            <button type="button" class="btn btn-link col-6" onClick="removeCartProducts()">Remove selected products</button>
        </div>

        
        {% for order_product in object.products.all %}
            <div class="cart-item row">
                {% if select_all %}
                    
                {% endif %}
                <input class="col-1" type="checkbox" name="order" onClick="singleBoxUnselect(this)" value="{{order_product.product.slug}}"aria-label="">
                <img class="col-3" src="{{ order_product.product.image.url }}" alt="">
                <div class="cart-item__details col-8">
                    <h5>{{ order_product.product.name }} </h5>
                    <h6> Quantity: {{order_product.quantity}}</h6>
                    
                    <div class="cart-item__footer">
                        <p>PHP {{ order_product.get_order_price|floatformat:2|intcomma }}</p>
                        <a href="{{ order_product.product.get_absolute_url }}" class="btn btn-primary"> View Product</a>
                        <a href="{{ order_product.product.get_remove_from_cart_url }}" class="btn btn-danger"> Remove Product</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        

        <div class="cart-summary">
            <h2>Order Summary</h2>

            <div class="cart-summary__details">
                <div>
                    <p class="cart-summary__category"> Subtotal Price </p>
                    <p class="text-muted float-right "> &#8369; {{object.get_subtotal_price|floatformat:2|intcomma}}</p>
                </div>
                <div>
                    <p class="cart-summary__category"> Shipping Fee </p>
                    <p class="text-muted float-right"> &#8369; {{ object.get_shipping_fee|floatformat:2|intcomma }}</p>
                </div>
                <hr>
                <div>
                    <p class="cart-summary__category"> Total Price </p>
                    <p class="float-right cart-summary__total-price">  &#8369; {{object.get_total_price|floatformat:2|intcomma}}</p>
                </div>
                <a href="" class="btn btn-success float-right"> Proceed to Checkout</a>
            </div>

        </div>
    </div>


    <script src="/js/script.js"></script>
    
{% endblock %}
