<!-- Page progression is updated here -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/res/icons/greenFinal.ico"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>Lubotics</title>
  </head>

  <body>
    <!-- https://hackerthemes.com/bootstrap-cheatsheet/ -->
    <!-- Navigation Bar -->
    <div id="nav-template"></div>

    <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead">Changelog is recorded here. Added some details for you to be updated what is currently being developed.</p>
      <hr class="my-2">
      <h1 class="display-5">Changelog</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Revision</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>04 April 2021</td>
            <td>Icon, Formatting and Changelog Introduction</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>14 April 2021</td>
            <td>Home page initialization and project continuation</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>19 April 2021</td>
            <td>Login and Signup page</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>20 April 2021</td>
            <td>
              Streamlining login and signup,
              added JS files (script.js not included),
              updating pages
            </td>
          </tr>
          <tr>
            <th scope="row">N</th>
            <td>22 April 2021</td>
            <td>Front end target date for completion of midterm requirements</td>
          </tr>
        </tbody>
      </table>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/index.html" role="button">Back to index</a>
      </p>
    </div>
  <script src="/js/script.js"></script>
    
  </body>
</html>