  <!-- Site footer -->
{% load static %}
{% load bootstrap_icons %}
{% load bs_icons %}

<footer class="site-footer w-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">LUBOTICS droidware technologies believes in

          TRANSCENDING LIFE USING TECHNOLOGIES.
          We do not just believe; we provide innovative solutions using robotics. We go beyond in creating world-changing technologies that improve the lives of every people.</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
            <li><a href="{% url 'lubotics:products' %}"> Humanoids</a></li>
          <li><a href="{% url 'lubotics:products' %}">Education</a></li>
          <li><a href="{% url 'lubotics:products' %}">Consumer</a></li>
          <li><a href="{% url 'lubotics:products' %}">Military </a></li>
          <li><a href="{% url 'lubotics:products' %}">Drones </a></li>
          <!-- <li><a href="http://scanfcode.com/category/templates/">Templates</a></li> -->
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6> Quick Links</h6>
        <ul class="footer-links">
          <li><a href="{% url 'lubotics:about' %}">About Us</a></li>
          <li><a href="{% url 'lubotics:about' %}">The Team </a></li>
          <li><a href="{% url 'lubotics:about' %}"> FAQs </a></li>
          <li><a href="http://alturl.com/b8oea" target="_blank">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
      <a href="{% url 'lubotics:about' %}"> LUBOTICS </a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>