{% extends "blog/base.html" %}
{% load static %}
{% load bootstrap_icons %}
{% load bs_icons %}

{% block content %}
<!-- {% block jumbotron %} -->
	<!-- Product containers -->
  <div class="jumbotron home-banner">
    <div class="company-logo">
      <img display="flex" src="{% static 'res/images/icons/blueFinal.png' %}" margin="0px" width="170px">
      <h1 class="" >LUBOTICS</h1>
      <h2 >droidware technologies</h2>
      <p class="lead"> Transcending life through technology</p>
    </div>
  </div>
<!-- {% endblock %} -->
	
<div class="carousel-container">
  <div id="product-carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#product-carousel" data-slide-to="1"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="home-carousel-content">
            <!-- style="width:100%; margin:auto" -->
            <a href="{% url 'lubotics:products' %}">
            <img class="d-block" src="{% static '/res/images/slide2.jpg' %}" alt="1st slide">
            </a>
          </div>
        </div>
        <div class="carousel-item">
          <a href="{% url 'lubotics:products' %}">
          <img class="d-block" src="{% static '/res/images/slide1.png' %}"  alt="2nd slide">
          </a>
        </div>
      </div>

      <div class="text" style="text-align:center; font-size: 20px"></div> 
      <div class="carousel-mid-left">Upcoming Product</div>
      <div class="carousel-bottom-left">LUBOTIC's Upcoming Product of 2021</div>

      <a class="carousel-control-prev" href="#product-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#product-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  
  <!-- <div class="text" style="text-align:center; font-size: 20px">Shop with us!<br><br></div> -->
</div>


<!-- {% block productmain %} -->
<section class="productmain zens3y">
  <h1>ZEN-S3Y</h1>
  <h2>Homeschooling redefined.</h2>
    <img src="{% static '/res/images/zensey.png' %}">
  <div class="links">
    <a class="learn-more" href="/products/view/zen-s3y">Learn more&nbsp;>
    <a href="/cart/add/b/zen-s3y">Buy now&nbsp;></a>
  </div>
</section>

<div class="row product-small">
  <div class="col-md-6">
      <div class="product-small-education">
          <div class="transparency hide " id="education">
            <h3>Education</h3>
            <h4>See our products for students and teachers.</h4><a href="/products/education">Learn more&nbsp;></a>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="product-small-drones">
        <div class="transparency hide" id="drones">
          <h3>Drones</h3>
          <h5>Avail our hottest products for filmmaking and fun</h5><a href="/products/drones">Learn more&nbsp;></a>
        </div>
      </div>
  </div>
</div>
<!-- {% endblock productmain %} -->
{% endblock content %}
