<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/res/icons/greenFinal.ico"/>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <title>Lubotics</title>
  </head>

  <body>
    <div id="nav-template"></div>

    <form class="login-form" action="/index.html"> 
      <h1> <img src="/res/icons/blueFinal.png"> LUBOTICS</h1>
      <h5> droidware technologies</h5>
      <fieldset enabled>
        <div class="form-group">
          <label for="formGroupExampleInput">Email Address</label>
          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="email@domain.com">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Password</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Password">
        </div>
      </fieldset>
      
      <a class="sign-up-link" href="/pages/signup.html"> Sign up </a>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div id="nav-footer"></div>
    <script src="/js/script.js"></script>
    
  </body>
</html>