{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="products container-fluid">
  <div class="row">
    
    <aside class="col-3">
      <div class="card">
        <h4 class="card-header">Featured Robot </h4>
        <div class="card-body">
          <!-- <p class="card-title">Title</p> -->
          <h3>UCD</h3> <!--This is the Product Name-->
          <p class="card-subtitle mb-2 text-muted">Mechanized UCD (Utility Carrier Dog) acts as a carrier for ammunition and explosives.</p> <!--Subtitle Text-->
        </div>
        <img src="{% static 'res/images/ucd.jpg' %}" alt="Card image">
        <div class="card-body">
          <a href="/pages/product.html" class="btn btn-primary">View Product</a>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header">Best Selling</h4>
        <div class="card-body">
          <h3>CRONE</h3> <!--This is the Product Name-->
          <!-- <p class="card-title">Title</p> -->
          <p class="card-subtitle mb-2 text-muted">A drone with a CCTV camera attached.</p>
          
        </div>
        <img src="{% static 'res/images/crone.jpg' %}" alt="Card image">
        <div class="card-body">
          <a href="/pages/product.html" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </aside>

    <main class="container-fluid col-sm">
      <!-- search -->
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Product" aria-label="" aria-describedby="basic-addon1">
          <div class="input-group-append">
            <button class="btn btn-success" type="button"> Search </button>
          </div>
        </div>
      </div>       
      
      <!-- LOOPING THE PRODUCTS HERE -->
      {% for product in products %}
        {% if forloop.counter0|divisibleby:3 %} <div class="row product-list"> 
        {% endif %} 
      
        <div class="col-md-4">
          <div class="card">
            
            <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            
            <div class="card-body">
              <a href="{{ product.get_absolute_url }}" class="card-title"> {{ product.name }}</a>
              <h6 class="card-subtitle mb-2 text-muted">{{product.price}}</h6>
              <p class="card-text">
              {{product.description}}
              </p>
              <a href="{{ product.get_add_to_wishlist_url }}" class="btn wish-color">Add to Wishlist</a>
              <a href="{{ product.get_add_to_cart_url }}" class="btn cart-color">Add to Cart</a>
            </div>
            
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div>
        {%  endif %}
      {% endfor %}
    </main>
</div>

</div>
{% endblock content %}