{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="products container-fluid">
  <div class="row">
    
    <aside class="col-3">
      <div class="card">
        <h4 class="card-header">Featured Robot </h4>
        <div class="card-body">
          <!-- <p class="card-title">Title</p> -->
          <h3>UCD</h3> <!--This is the Product Name-->
          <p class="card-subtitle mb-2 text-muted">Mechanized UCD (Utility Carrier Dog) acts as a carrier for ammunition and explosives.</p> <!--Subtitle Text-->
        </div>
        <img src="{% static 'res/images/ucd.jpg' %}" alt="Card image">
        <div class="card-body">
          <a href="/products/view/ucd" class="btn btn-primary">View Product</a>
        </div>
      </div>
      <div class="card">
        <h4 class="card-header">Best Selling</h4>
        <div class="card-body">
          <h3>CRONE</h3> <!--This is the Product Name-->
          <!-- <p class="card-title">Title</p> -->
          <p class="card-subtitle mb-2 text-muted">A drone with a CCTV camera attached.</p>
          
        </div>
        <img src="{% static 'res/images/crone.jpg' %}" alt="Card image">
        <div class="card-body">
          <a href="/products/view/crone" class="btn btn-primary">View Product</a>
        </div>
      </div>
    </aside>

    <main class="container-fluid col-sm">
      <!-- search -->
      <form action="{%url 'lubotics:products-search' %}" method=POST>
      <div class="row">
          {% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Product" aria-label="" 
                    aria-describedby="basic-addon1" name="searched" 
                    {% if searched %}
                    value="{{searched}}"
                    {% endif %}
            >
            <div class="input-group-append">
              <button class="btn btn-success" type="submit"> Search </button>
            </div>
          </div>
        </div>       
      </form>
      
      <!-- Search Result -->
      {% if searched %}
        <div>
          <br>
          <h4> Searched for {{ searched }}</h4>
          <br>
        </div>
      {% endif %}

      <!-- No products -->
      {% if not products %}
        <div>
          <br>
          <center>
            <h4> There are no products in stock. </h4>
          </center>
        </div>
        <br>
      {% endif %}      

      <!-- LOOPING THE PRODUCTS HERE -->
      
      {% for product in products %}
        {% if forloop.counter0|divisibleby:3 %} <div class="row product-list"> 
        {% endif %} 
      
        <div class="col-md-4">
          <div class="card product-card"> 
            <a href="{{ product.get_absolute_url }}">
              <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
            </a>
            
            
            <div class="card-body">
              <a href="{{ product.get_absolute_url }}" style="font-size: 1.3rem;"> {{ product.name }}</a>
              <h6 class="card-subtitle mb-2 text-muted">&#8369; {{ product.price|floatformat:2|intcomma }}</h6>
              <p class="card-text">
              {{ product.description|slice:":70" }} 
              {% if product.description|length > 70 %} [...] {% endif %}
              </p>
              <a href="{{ product.get_add_to_wishlist_url }}" class="btn wish-color">Add to Wishlist</a>
              <a href="{{ product.get_add_to_cart_url }}" class="btn cart-color">Add to Cart</a>
            </div>
            
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 or forloop.last %}
          </div>
        {%  endif %}
      {% endfor %}
      
      <br><br>
    </main>

  </div>

</div>
{% endblock content %}