{% extends "blog/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <h2>{{ user.username }}</h2>
    <!-- main -->
    <div class="container-fluid profile">
        <div class="row">
            <div class="col-2 card profile__card">
                <!-- <h3> My Account </h3> -->
                <h5 class="card-header"> My Account </h5>
                <img class="profile__avatar w-75" src="{{ user.profile.image.url }}" alt="">
                <!-- <div class="card-title name"> Shin Yuna</div> -->
                <h5 class="mb-3 profile__name">{{ user.first_name}} {{ user.last_name }}</h5>
                <h6 class="card-subtitle mb-2"> <span class="text-muted"> Joined  </span> Feb 12, 2019</h6>
            </div>

            <div class="card col-sm profile__details">
                <h5 class="card-header">Personal Details <span class="float-right"> Edit</span></h5>

                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-sm">
                            <p class=""> Full Name  </p>
                            <h5 class="">{{ user.first_name}} {{ user.last_name }}</h5>
                        </div>
                        <div class="col-sm">
                            <p class="card-text align-right"> Email </p>
                            <h5 class="card-title align-right">{{ user.email }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="card-text">Birthday  </p>
                            <h5 class="card-title"></h5>
                        </div>
                        <div class="col-sm">
                            <p class="card-text align-right" >Joined in  </p>
                            <h5 class="card-title align-right"> February 12, 2019</h5>
                        </div>
                    </div>
                  <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->


                </div>

              </div>
        </div>

        <div class="row">
            <div class="col-2 card profile__links">
                <a href="#" class="btn btn-success"> Profile</a>
                <a href="#" class="btn btn-primary disabled"> My Wallet</a>
                <a href="#" class="btn btn-primary disabled"> Membership</a>
                <a href="#" class="btn btn-primary disabled"> Orders & Tracking</a>
                <a href="#wishlist" class="btn btn-primary "> Wishlist</a>
            </div>
            <div class="card col-sm profile__details" style="margin-top: 1.5rem;">
                <h5 class="card-header"> Shipping Address <span class="float-right"> Edit </span></h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm">
                            <p class="">Address #1 </p>
                            <h5 class=""> 216, Itzy St. Barangay Dingdong, Suwon, Paldallo </h5>
                        </div>
                        <div class="col-sm">
                            <p class="align-right" >Contact no. </p>
                            <h5 class="align-right" > 02015921 </h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <p class="">Address #2  </p>
                            <h5 class=""> 217, Itzy St. Barangay Dongdings, Suwon, Paldallo </h5>
                        </div>
                        <div class="col-sm">
                            <p class="align-right" >Contact no. </p>
                            <h5 class="align-right" > 0211-5921-212</h5>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        
        <div id="wishlist" class="card wishlist">
            <h4 class="card-header"> Wishlist</h4>
            <div class="row">
                <div class="col-sm card">
                    <img class="card-img-top" src="{% static '/res/images/aibo.jpg' %}" alt="Card image cap">
                    <div class="card-body"> 
                        <div class="card-title">Aibo</div>
                        <div class="card-text">PHP 140,518.99</div>
                    </div>
                </div>    
                <div class="col-sm card">
                    <img class="card-img-top" src="{% static '/res/images/HSC.png' %}" alt="Card image cap">
                    <div class="card-body"> 
                        <div class="card-title">HSC</div>
                        <div class="card-text">PHP 4,000,000</div>
                    </div>
                </div>
                <div class="col-sm card">
                    <img class="card-img-top" src="{% static '/res/images/aido.jpg' %}" alt="Card image cap">
                    <div class="card-body"> 
                        <div class="card-title">Aido</div>
                        <div class="card-text">PHP 50,000</div>
                    </div>
                </div>    
                <div class="col-sm card">
                    <img class="card-img-top" src="{% static '/res/images/crone.jpg' %}" alt="Card image cap">
                    <div class="card-body"> 
                        <div class="card-title">CRONE</div>
                        <div class="card-text">PHP 750,000</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h1> <img src="{% static 'res/icons/blueFinal.png' %}"> LUBOTICS</h1>
        <h5> droidware technologies</h5>
        <fieldset class=form-group>
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn login-btn-color" type="submit">Update</button>				
        </div>
    </form>

    <script src="/js/script.js"></script>
{% endblock %}